# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
node_modules
node_modules/.cache/.eslintcache
node_modules/.bin/webpack-dev-server
node_modules/.bin/webpack
node_modules/.bin/uuid
node_modules/.bin/update-browserslist-db
node_modules/.bin/tsserver
node_modules/.bin/tsc
node_modules/.bin/terser
node_modules/.bin/tailwindcss
node_modules/.bin/tailwind
node_modules/.bin/svgo
node_modules/.bin/sucrase-node
node_modules/.bin/sucrase
node_modules/.bin/semver
node_modules/.bin/rollup
node_modules/.bin/rimraf
node_modules/.bin/resolve
node_modules/.bin/regjsparser
node_modules/.bin/react-scripts
node_modules/.bin/node-which
node_modules/.bin/nanoid
node_modules/.bin/multicast-dns
node_modules/.bin/mkdirp
node_modules/.bin/mime
node_modules/.bin/lz-string
node_modules/.bin/loose-envify
node_modules/.bin/json5
node_modules/.bin/jsesc
node_modules/.bin/js-yaml
node_modules/.bin/jiti
node_modules/.bin/jest
node_modules/.bin/jake
node_modules/.bin/is-docker
node_modules/.bin/import-local-fixture
node_modules/.bin/html-minifier-terser
node_modules/.bin/he
